
body {
  color: black;
  XXXbackground-color: rgb(240, 240, 240);
  background-color: white;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 71%;  /* Enables font size scaling in MSIE */
  margin: 10;
  padding: 0;
}

html > body {
  font-size: 8.5pt;
    padding-bottom: 20;
}

.supHeader {
  padding: 5px;
  background-color: rgb(252, 86, 11);
  color: white;
  font-size: 30px;
}

.supFooter {
  background-color: rgb(96, 122, 183);
  color: white;
  font-size: 8.5pt;
  padding: 10px;
}

#main {
  padding: 10px;
}

img {
  vertical-align: middle;
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-gap: 20px;
    max-width: 80%;
    justify-content: center;
}


ul {
    list-style-type: square;
    width: 500px;
}

li {
  margin: 1;
  padding: 1;
}
