<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>JSTN:Bookmarks</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="icon" type="image/png" href="resources/favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="my.css" type="text/css" media="screen" title="default">

		<script src="mousetrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	</head>
	<script type="text/javascript">
		function search() { var search = $('#ddgSearchField'); search.val(''); search.focus(); } 
		Mousetrap.bind('ctrl+s', search) 
	</script>
	</head>
	<body>
		<div class="supHeader">
			<a href='index.html'><img src="resources/favicon.png" alt="logo" width="30"></a>
		</div>
		<hr>
		<form name="ddgSearch" method="get" id="ddgSearch" action="https://duckduckgo.com/" target="_blank">
			<input type="hidden" name="sites" value=""/>
			<input type="hidden" name="k7" value="#ffffff"/>
			<input type="hidden" name="k8" value="#222222"/>
			<input type="hidden" name="k9" value="#00278e"/>
			<input type="hidden" name="kx" value="#20692b"/>
			<input type="hidden" name="kj" value="#fafafa"/>
			<input type="hidden" name="kt" value="p"/>
			<input type="text" name="q" id="ddgSearchField" size="50" placeholder="DuckDuckGo..." aria-label="Search  on DuckDuckGo"/>
			<button type="submit">Search</button>
		</form>
		{% block body %}
		<div id="main">
			{% block main %}{% endblock %}
		</div>
		{% endblock %}
		<h3>
			<a href="tags/index.html">View All Tags</a>
		</h3>
		<div class="supFooter">
			Created by Justin Levens
		</div>
	</body>
</html>
