
{% extends "base_bookmarks_by_tags.html" %}

{% block main %}

<h1>Bookmarks with Tag: {{tagname}}</h1>

<ul>
{% for bookmark in bookmarks %}
	<li><a href="{{ bookmark.url }}">{{ bookmark.name }}</a></li>
{% endfor %}
</ul>

{% endblock %}
