{% extends "base.html" %}

{% block main %}

<h1>My Bookmarks</h1>

{% for category, marks in bookmarks.items() %}
    <ul>
        <h4>{{ category }} </h4>
        {% for mark in marks %}
        <li><div class="example"><a href="{{ mark.url }}">{{ mark.name }}</a> <span style="font-size: 10px;">{{ mark.tag_urls|join(', ')}}</span></div> </li>
        {% endfor %}
    </ul>
{% endfor %}
{% endblock %}
